.footer {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ui-color-gray-900);
  padding: 14px;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: var(--ui-color-gray-010);
}
