.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: var(--ui-color-bg);
  padding:6px 4px;
  font-size: var(--ui-font-size-12);
  color: var(--ui-color-black);
  z-index: 0;
}

.content {
  z-index: 1;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2px;
  right: 2px;
  border-top: 2px solid var(--ui-color-black);
  border-bottom: 2px solid var(--ui-color-black);
}

.btn::after {
  content: '';
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 0;
  right: 0;
  border-left: 2px solid var(--ui-color-black);
  border-right: 2px solid var(--ui-color-black);
}

.btn:hover,
.btn:focus {
  color: var(--ui-color-white);
}
.btn:hover::before,
.btn:focus::before,
.btn:hover::after,
.btn:focus::after {
  background: var(--ui-color-black);
}