.authContainer {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 12px 20px;
}

.header {
  font-size: var(--ui-font-size-24);
  margin-bottom: 10px;
}

.card {
  position: relative;
  padding: 18px 20px;
  max-width: 353px;
}

.card::before {
  content: '';
  position: absolute;
  top: 0; bottom: 0; left: 4px; right: 4px;
  border-top: 4px solid var(--ui-color-black);
  border-bottom: 4px solid var(--ui-color-black);
  pointer-events: none;
  z-index: 1;
}

.card::after {
  content: '';
  position: absolute;
  top: 4px; bottom: 4px; left: 0; right: 0;
  border-left: 4px solid var(--ui-color-black);
  border-right: 4px solid var(--ui-color-black);
  pointer-events: none;
  z-index: 1;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px
}

.field {
  display: flex;
  flex-direction: column;

  gap: 3px;
}

.underlined {
  text-decoration: underline;
}

.underlined:hover,
.underlined:focus {
  text-decoration-thickness: 2px;
}

.fieldError {
  color: var(--ui-color-red);
  margin-top: 4px;
  text-align: center;
}