.modal {
  background-color: var(--ui-color-bg);
  border: 4px solid var(--ui-color-gray-900);
  border-radius: 12px;
  padding: 16px;
  max-width: 90vh;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.title {
  flex: 1;
  text-align: center;
  font-size: var(--ui-font-size-14);
}


.modalHeader > :first-child {
  margin-right: auto;
}

.modalHeader > :last-child {
  margin-left: auto;
}

.modalContainer {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 12px;
}

.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

