.inputWrapper {
  position: relative;
  display: inline-flex;
  /*width: 200px;*/
  align-items: center;
  justify-content: center;
  border: none;
  padding:8px 6px;
  background-color: var(--ui-color-bg);
  color: var(--ui-color-black);
  z-index: 0;
}

.input {
  position: relative;
  z-index: 2;
}

.inputWrapper::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4px;
  right: 4px;
  border-top: 4px solid var(--ui-color-black);
  border-bottom: 4px solid var(--ui-color-black);
  z-index: 1;
}

.inputWrapper::after {
  content: '';
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 0;
  right: 0;
  border-left: 4px solid var(--ui-color-black);
  border-right: 4px solid var(--ui-color-black);
  z-index: 1;
}

