@import "variables.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: var(--ui-color-bg);
  color: var(--ui-color-text);
  font-family: var(--ui-font-family-base);
  font-weight: var(--ui-font-weight-regular);

  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  image-rendering: pixelated;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  flex: 1 1 auto;
  overflow: hidden;
}

input, textarea {
  font-family: inherit;
  background: var(--ui-color-gray-010);
  color: var(--ui-color-gray-800);
  outline: none;
}

