a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  background: none;
  border: none;
  color: inherit;
}

input {
  position: relative;
  z-index: 1;
  width: 100%;
  background: transparent;
  color: var(--ui-color-black);

  border: none;
  outline: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;

  font: inherit;
  line-height: 1;
  padding: 0;
  box-sizing: border-box;
  caret-color: var(--ui-color-black);
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, li, figure,
blockquote, dl, dd {
  margin: 0;
  padding: 0;
}