@font-face {
  font-family: 'Press Start';
  src: url('fonts/press-start-2p.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'VT323';
  src: url('/fonts/vt-323.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

:root {
  --ui-color-gray-010: #f9f9f8;
  --ui-color-gray-025: #f2f2f0;
  --ui-color-gray-050: #e5e5e3;
  --ui-color-gray-100: #d3d3d1;
  --ui-color-gray-200: #bcbcb9;
  --ui-color-gray-300: #9e9e9b;
  --ui-color-gray-400: #7f7f7b;
  --ui-color-gray-500: #5f5f5c;
  --ui-color-gray-600: #3e3e3b;
  --ui-color-gray-700: #2b2b29;
  --ui-color-gray-800: #1d1d1b;
  --ui-color-gray-900: #141412;

  --ui-color-white: #fff;
  --ui-color-black: #000;
  --ui-color-red: #b03531;

  --ui-color-bg: var(--ui-color-gray-010);
  --ui-color-text: var(--ui-color-gray-900);
  --ui-color-border: var(--ui-color-gray-050);

  --ui-font-size-12: 12px;
  --ui-font-size-14: 14px;
  --ui-font-size-16: 16px;
  --ui-font-size-20: 20px;
  --ui-font-size-24: 24px;

  --ui-font-weight-regular: 400;
  --ui-font-weight-medium: 500;
  --ui-font-weight-bold: 600;

  --ui-font-family-base: 'Press Start', monospace ;
  --ui-font-family-additional: 'VT323' monospace;

}