.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 4px 4px;
  color: var(--ui-color-white);
  z-index: 0;
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2px;
  right: 2px;
  border-top: 2px solid var(--ui-color-white);
  border-bottom: 2px solid var(--ui-color-white);
}

.btn::after {
  content: '';
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 0;
  right: 0;
  border-left: 2px solid var(--ui-color-white);
  border-right: 2px solid var(--ui-color-white);
}

.btn:hover,
.btn:focus {
  color: var(--ui-color-black);
  outline: none;
}

.btn:hover::before,
.btn:focus::before,
.btn:hover::after,
.btn:focus::after {
  background: var(--ui-color-white);
}
